.big_color_btn {
  width: 100%;
  height: 71px;
  border-radius: 10px;
  background: #f9b32c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.big_color_btn:hover {
  background-color: #87b13a;
}
