.big_color_btn {
  width: 440px;
  height: 71px;
  border-radius: 10px;
  background: #f9b32c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
