.insert_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.insert_box {
    margin-bottom: 70px;
}
.insert_box > span{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}
.insert_box > input {
    width: 100%;
    border-bottom: 1px solid #ABA5A5;
    margin-top: 15px;
}
