.tap_btn_wrap{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between
}
.tap_btn_wrap > button {
    width: 10rem;
    height: 48px;
}
.tap_btn_wrap > button:hover{
    border-bottom: 1px solid #F9B32C;
}