.menu_detail {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_wrap > p{
    font-size: 20px;
    font-weight: 400;

}