.edit_wrap {
  padding: 0 20px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.input_section {
  padding: 0;
}

.input_title {
  padding: 1vh 0 1vh 0;
  font-size: 20px;
  color: #aba5a5;
  margin-bottom: 20px;
}

.input_info {
  border-radius: 5px;
  font-size: 20px;
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.input_info::placeholder {
  color: #000;
}

.button_area {
  display: flex;
  margin-top: 7vh;
  margin-bottom: 70px;
}

.button_area > p {
  width: 50%;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 600;
}

.button_area > p:last-child {
  color: #79d027;
}
.edit_button {
  cursor: pointer;
  background-color: #f9b32c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.edit_button:hover {
  background-color: #7cbe1f;
}
