.reservation_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.reservation_main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 47px;
  text-align: center;
}
.reservation_main_time,
.reservation_main_person {
  display: flex;
  justify-content: space-between;
  text-align: center; /* 내부 요소 가운데 정렬 */
  margin-left: 8px;
  margin-right: 8px;
}
/* .reservation_main_person {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
} */
.reservation_main_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}
.reservation_main_btn_container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 원하는 간격으로 조정 */
  margin-bottom: 30px;
}
