.reservation_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.reservation_main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 47px;
}
.reservation_main_time {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}
.reservation_main_person {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}
.reservation_main_btn_container {
  display: flex;
  justify-content: center;

  margin-top: 33px;
}
.reservation_main_btn_container2 {
  display: flex;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 70px;
}
