.review_input_wrap {
  padding: 0 20px 10px;
}

.rating {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.num_rating {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input_section {
  padding: 10px 0 20px 0;
}

.input_title {
  font-weight: bold;
  padding-bottom: 5px;
}

.input_contents {
  width: 95%;
  resize: none;
  font-size: 16px; /* 입력되는 글씨 크기 설정 */
  line-height: 1.5; /* 글씨 간격 설정 */
  padding: 10px; /* 테두리와 글씨 입력 영역 사이의 간격 설정 */
  border: 1px solid #ddd;
  height: 30vh;
}

.input_contents:focus {
  background: #eff3f3;
  width: 95%;
  height: 30vh;
  resize: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ddd;
}

.input_picture_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2%;
}

.input_picture {
  border: 2px solid #aba5a5;
  width: calc(100% / 2);
  padding: 10%;
}
.input_picture_button {
  /* 사진 업로드 버튼 스타일 */
  cursor: pointer; /* 포인터 효과를 설정합니다. */
}

.button_review_input_line {
  border-radius: 10px;
  background: #f9b32c;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 122px;
  margin-bottom: 70px;
}

.button_review_input {
  font-weight: bold;
  font-size: 20px;
  background: none;
  cursor: pointer;
}
.rating_text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
