.button_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    width: 65%;
    border-radius: 20px;
    border: 1px solid orange;
}

.input_wrap{
    display: flex;
    align-items: center;
    margin-left: 20px;
}